.caption {
    padding-top: 4px !important;
    font-weight: bold;
    font-size: small;
}

.number input {
    text-align: right;
    padding-right: 10px !important;
    table-active: text-white;
}

.currency input {
    text-align: right;
    padding-right: 5px !important;
    
}

.text-center input {
    text-align: center;
}

.button-edit-css {
    width: 16px;
    height: 16px;
}

.button-edit {
    width: 16x;
    height: 28px;
    margin: 0 8px 0 0;
}


.table.table-bordered > tbody > tr:nth-of-type(odd) > td.table-active.bg-primary.text-white {
    background-color: rgba(245, 245, 247, 0.35);
    --bs-table-accent-bg: none;
    color: #ffffff !important;
}

.table.table-bordered > tbody > tr:nth-of-type(even) > td.table-active.bg-primary.text-white {
    background-color: rgba(245, 245, 247, 0.35);
    --bs-table-accent-bg: none;
    color: #ffffff !important;
}

.button-confirm {
    margin-right: 5px !important;
}

.button-cancel {
    
    margin-right: 30px !important;
}

.bg-ownPrimary {
    background-color: #0b9935 !important;
}

