*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.checkbox_items {
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #00d0f3;
    border-radius: 50px;
    width: 200px;
    height: 100px;
    border: 4px solid #99ecfa;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.1s; 
    border-color 0.1s linear;
}

.checkbox_input
{
    display: none;
    opacity: 0;
    visibility: hidden;
}

.checkbox_input:checked ~ .checkbox_items
{
    background-color : #1a2762;
    border-color: #5668b5;
}

.checkbox_sun-moon
{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #ffe441;
    border-radius: 70px;
    transition: transform 0.3s linear;
}

.checkbox_sun-moon::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 70px;
    background-color: #1a2762;
    opacity: 0;
    transform: translate(20px,-10px);
    transition: opacity 0.2s linear;
}

.checkbox_input:checked ~ .checkbox_items
.checkbox_sun-moon::before
{
    opacity: 1;
}

.checkbox_input:checked ~ .checkbox_items
.checkbox_sun-moon
{
    transform: translateX(102px);

}

.checkbox_cloud-body
{
    position: absolute;
    right: 75px;
    top: 46px;

}

.checkbox_cloud
{
    width: 95px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    transition: transform 0.3s linear, opacity 0.3s linear;
}

.checkbox_cloud::before,
.checkbox_cloud::after
{
    content: '';
    position: absolute;
    background-color: #fff;
    display: block;
    border-radius: 100px;
}

.checkbox_cloud::after
{
    width: 35px;
    height: 35px;
    top:-13px;
    right: 15px;
}

.checkbox_cloud::before {
    width: 45px;
    height: 45px;
    top: -22px;
    right: 39px;
}

.checkbox_input:checked ~ .checkbox_items
.checkbox_cloud
{
    transform: translateX(30px);
    opacity: 0;

}

.checkbox_stars
{
    transform: translateX(-15px);
    opacity: 0;
    transition: opacity 0.3s 0s linear;
}

.checkbox_input:checked ~ .checkbox_items
.checkbox_stars
{
    opacity: 1;
    transition-delay: 0.2s;
}

.checkbox_star
{
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow:
        -22px 18px 0px 1.2px #fff,
        -15px -23px 0px 2px #fff,
        14px -15px 0px 0px #fff,
        14px 15px 0px 0px #fff;
}
